<div class="my-2">
    <MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
        @foreach (var image in Images)
        {
            <MudCarouselItem Transition="transition" Color="@Color.Primary">

                <div class="d-flex" style="height:100%; justify-content:center">
                    <img src=@image.Image />
                    <p>@image.Remarks </p>
                </div>
                
            

                @*Obs Foto 1---https://localhost:7217/images/Logos/eeb626df-6f0e-4a0e-b70c-8730169dbc64.jpg*@

            </MudCarouselItem>
        }
    </MudCarousel>
</div>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    [EditorRequired]
    [Parameter]
    public List<PhotoDTO> Images { get; set; } = null!;
}
